/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

@import 'tailwindcss';

@theme {
	--font-sans: 'Funnel Display', sans-serif;
	--color-accent: #e64d33;
	--color-accent-foreground: #171513;
	--color-accent-background: #f3f1ef;
}

* {
	@apply transition-all selection:bg-accent;
}
